:root {
    --primary-bg-colour: #262626;
    --secondary-bg-colour: #515151;
}

* {
    overflow-x: hidden;
}

h2 {
    font-size: 20px;
}

#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-colour);
    width: 100vw;
    height: 100vh;
}

.home-page--main-header {
    background-color: var(--primary-bg-colour);
    display: flex;
    justify-content: center;
}

.home-page--main-header--logo {
    margin: 2rem;
    width: 15rem;
}

.home-page--horisontal-navigation {
    color: #fff;
    background-color: var(--secondary-bg-colour);
    display: flex;
    justify-content: center;
}

.home-page--horisontal-navigation ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.home-page--horisontal-navigation ul li {
    cursor: pointer;
}

.home-page--horisontal-navigation ul li:hover {
    text-decoration: underline;
}

.home-page--main-section {
    min-height: 80vh;
    background-image: url(assets/images/background_mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page--footer {
    background-color: var(--primary-bg-colour);
    min-height: 10vh;
    color: #fff;
}

.main-section--card {
    text-align: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-family: 'grenge';
    width: 100%;
    min-height: 100%;
    margin: 10px;
}

.main-section--card-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.main-section--card-form-group input {
    width: 10rem;
}

.main-section--card--hotel-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: #000;
}

.main-section--card--hotel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 0 auto 10px auto;
    padding: 5px;
    width: 20rem;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .1s ease-in;
}

.main-section--card--hotel-card:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(0.99);
    transition: all .1s ease-in;
}

.main-section--card--hotel-card img {
    border-radius: 4px;
    width: 100%;
    height: 200px;
}

.main-section--card--hotel-card button {
    outline: 0;
    border-radius: 0;
    padding: 5px;
    border: 1px solid #777;
    background-color: transparent;
    cursor: pointer;
}

.main-section--card--hotel-card button:hover {
    background-color: var(--secondary-bg-colour);
    color: #fff;
}