:root {
    --primary-bg-colour: #262626;
    --secondary-bg-colour: #515151;
}

* {
    overflow-x: hidden;
}

.home-page--main-header {
    background-color: var(--primary-bg-colour);
    display: flex;
    justify-content: center;
}

.home-page--main-header--logo {
    margin: 2rem;
    width: 15rem;
}

.home-page--vertical-navigation {
    color: #fff;
    background-color: var(--secondary-bg-colour);
    display: flex;
    justify-content: center;
}

.home-page--vertical-navigation ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.home-page--main-section {
    min-height: 80vh;
    background-image: url(assets/images/background_mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home-page--footer {
    background-color: var(--primary-bg-colour);
    min-height: 10vh;
    color: #fff;
}

.main-section--card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    width: 80%;
    height: 70vh;
    font-family: 'grenge';
}

.main-section--card--hotel-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 10px;
}

