* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

.logo {
    width: 15rem;
}

th, td {
    border-bottom: 1px solid rgb(191, 191, 191);
}