.link {
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

.display-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.margin-5 {
    margin: 5px;
}